<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">STATE-WISE VIEW </div>
    <div class="list-group list-group-flush">
      <a *ngFor="let state of stateCode | keyvalue;" (click)="selectState(state.key)" class="list-group-item list-group-item-action bg-light">{{state?.value}}</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <div class="container-fluid">
        <button class="navbar-toggler" (click)="clickEvent()"><span class="navbar-toggler-icon"></span></button>
      </div>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Population: {{selectedState?.meta?.population || 'N/A'}}</h1>
      <br>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>District</a>
          <br>
          <ng-template ngbNavContent>
            <div id="accordion">
              <div *ngFor="let district of selectedState?.districts | keyvalue; let i=index;" class="card mb-2">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" aria-controls="collapseTwo" (click)="showData(district.value)">
                      {{district.key}}
                    </button>
                  </h5>
                </div>
                <div [attr.id]="'collapse'+i" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <div class="card-body">
                      <h5>Population: {{selectedDistrict?.meta?.population || 'N/A'}}</h5>
                      <div class="row">
                        <div class="col-lg-3 col-xs-6">
                          <span class="text-xs text-muted">Confirmed</span>
                          <h6>{{selectedDistrict?.total?.confirmed || 'N/A'}}</h6>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                          <span class="text-xs text-muted">Recovered</span>
                          <h6>{{selectedDistrict?.total?.recovered || 'N/A'}}</h6>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                          <span class="text-xs text-muted">Deaths</span>
                          <h6>{{selectedDistrict?.total?.deceased || 'N/A'}}</h6>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                          <span class="text-xs text-muted">Tested</span>
                          <h6>{{selectedDistrict?.total?.tested || 'N/A'}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-7" *ngIf="!selectedState?.districts">
                <i class="bi bi-exclamation-circle-fill text-lg"></i>
                <h2>No Data Found</h2>
                <h4>We couldn't find data for this state.</h4>
              </div>
            </div>
            <div align="center">
              <div class="canvas">
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Confirmed</a>
          <ng-template ngbNavContent>
            <h5 *ngIf="selectedState?.total?.confirmed">Confirmed: {{selectedState?.total?.confirmed || 'N/A'}}</h5>
            <div class="text-center mt-7" *ngIf="!selectedState?.total?.confirmed">
              <i class="bi bi-exclamation-circle-fill text-lg"></i>
              <h2>No Data Found</h2>
              <h4>We couldn't find data for this state.</h4>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Recovered</a>
          <ng-template ngbNavContent>
            <h5 *ngIf="selectedState?.total?.recovered">Recovered: {{selectedState?.total?.recovered || 'N/A'}}</h5>
            <div class="text-center mt-7" *ngIf="!selectedState?.total?.recovered">
              <i class="bi bi-exclamation-circle-fill text-lg"></i>
              <h2>No Data Found</h2>
              <h4>We couldn't find data for this state.</h4>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Deaths</a>
          <ng-template ngbNavContent>
            <h5 *ngIf="selectedState?.total?.decreased">Deaths: {{selectedState?.total?.decreased || 'N/A'}}</h5>
            <div class="text-center mt-7" *ngIf="!selectedState?.total?.decreased">
              <i class="bi bi-exclamation-circle-fill text-lg"></i>
              <h2>No Data Found</h2>
              <h4>We couldn't find data for this state.</h4>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Tested</a>
          <ng-template ngbNavContent>
            <h5 *ngIf="selectedState?.total?.tested">Tested: {{selectedState?.total?.tested || 'N/A'}}</h5>
            <div class="text-center mt-7" *ngIf="!selectedState?.total?.tested">
              <i class="bi bi-exclamation-circle-fill text-lg"></i>
              <h2>No Data Found</h2>
              <h4>We couldn't find data for this state.</h4>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>